@import './_variables';

//card-grids

.card-grids {

    h6 {
        padding-bottom: 1rem;
        color: $black;

        span {
            color: $blue;
        }
    }

    -webkit-box-shadow: 10px 9px 10px -9px rgba(196, 196, 196, 1);
    -moz-box-shadow: 10px 9px 10px -9px rgba(196, 196, 196, 1);
    box-shadow: 10px 9px 10px -9px rgba(196, 196, 196, 1);
    background-color: $white;
    padding: 2rem;
    margin-bottom: 2rem;

    &.blue {
        -webkit-box-shadow: 10px 10px 5px -7px rgba(0, 123, 255, 1);
        -moz-box-shadow: 10px 10px 5px -7px rgba(0, 123, 255, 1);
        box-shadow: 10px 10px 5px -7px rgba(0, 123, 255, 1);
        background-color: $blue;

    }
}


//singleton

.singleton-expenses {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .fa-edit {
        color: $blue;
    }

    .fa-trash {
        color: $red;
    }
}

// wrapper

.wrapper {

    // the outputs
    span {
        color: $white;
    }

    .welcome {
        p {
            padding-bottom: 1rem;
        }
    }

    margin: 2rem 0;

    hr {
        background-color: $white;
    }
}

// blue section grid

.blue-section-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // display: flex;
    // justify-content: space-around;
    margin: 2rem 0;

    h2 {
        font-size: 1.5rem;
    }

    .income,
    #budget-output {
        color: $green;
    }

    .expense,
    #expenses-output {
        color: $red;
    }
}

// warning div

.div-warning {
    background-color: $red;
    color: $white;
    width: 100%;
    padding: 1rem;
    text-align: center;
}

// div-budget

.input-styling {
    display: flex;
    //flex-direction: column;
    //border: 2px solid red;
    //grid-template-columns: repeat(3, 1fr);

    input {
        // border: 2px solid red;
        width: 40%;
        outline-color: $white;
        border: 1px sold #c4c4c4;
        padding-left: .5rem;

        &:focus {
            outline-color: $white;
            background-color: $white;
        }
    }
}

@media screen and (min-width:1000px) {

    .wrapper {
        margin-left: 7rem;
    }

    .cover {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .card-grids {
            margin-right: 2rem;
        }

    }


}


@media screen and (min-width:700px) {

    .wrapper {
        margin-left: 7rem;
    }

    // .cover {
    //     display: grid;
    //     grid-template-columns: repeat(2, 1fr);

    //     .card-grids {
    //         margin-right: 2rem;
    //     }

    // }


}