@import './_variables';

header{
span{
    color:$blue;
}
    h1{
        margin: 0;
        padding: 0;
      
    }
 
    display: flex;
    justify-content: space-between;

    margin: 2rem 0;

    
}

// header

// header {
//     display: flex;
//     justify-content: center;
//     // height: 50vh;
//     margin: 5rem 0;
// }