@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');
@import 'blue';
@import 'intro';
@import './_variables';


* {
    margin: 0;
    padding: 0;
}

html,
body {
    //overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
}


body {
    font-family: $font;
}

hr {
    background-color: $blue;
    width: 10rem;
}

.blue-bg {
    background-color: $blue;
    color: $white;
    width: 100%;
    position: absolute;
    left: 0;

}

span {
    color: $blue;
}